.card {
    color: #fff;
    width: 350px;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.card h3 {
    font-size: 24px;
    margin: 10px 0;
}

.card p {
    font-size: 18px;
    margin: 5px 0;
}

.card button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.card button:hover {
    background-color: #ff4500;
}

.sale {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 5px;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}